node_modules/

.expo/
dist/
web-build/
expo-env.d.ts

.kotlin/
_.orig._
_.jks
_.p8
_.p12
_.key
\*.mobileprovision

.metro-health-check\*

npm-debug._
yarn-debug._
yarn-error.\*

.DS_Store
\*.pem

.env\*.local

\*.tsbuildinfo

app-example

/ios
/android

.env
.env.\*.local

# firebase
